{% extends "base.html" %}

{% block tittles %}
<h2>This is my second index file</h2>
{% endblock %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci illo molestias. Ab accusantium, aliquam asperiores dignissimos facere laborum, magnam minus officia perspiciatis praesentium quia quibusdam rem tempore voluptatem voluptatum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur eius esse fugiat illum laborum, libero nam numquam optio quam, quo ratione sed vero. Aut corporis minus numquam perferendis quia?</p>
{% endblock %}